html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
  
  }

  img {
    max-width: 100%;
    height: auto;
    padding: 5px 1px 1px 1px;
  }


  
  .preview {
    width: 100%;
  }

  .grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 5px;
    align-items: stretch;
  }
  
  .gallery {
  width: 100%;
  overflow: auto;
  height: 100%;
  display: grid;
  flex-wrap: nowrap;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .row > .col {
    padding: 8px 6px;
  }
  
  .col {
    display: flex;
    float: left;
    height: 15%;
    width: 75%;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px 10px 10px 10px;
    width: 80%;
    max-width: 1200px;
  }
  
  .slide {
    display: none;
  }

  .slide2 {
    display: none;
    height: 50%;
    width: 50%;
  }
  
  .image-slide {
      width: auto;
  }

  .image-slide2 {
    width: auto;
 
}

  
  .modal-preview {
      width: 100%;
  }
  
  .dots {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  img.preview, img.modal-preview {
    opacity: 1;
  }
  
  img.active,
  .preview:hover,
  .modal-preview:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  } 
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .previous,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .previous:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  ul {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Consolas, monaco, monospace;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 10px;
  }
  .wrapper div:nth-child(4n+1) {
    grid-column-end: span 2;
    grid-row-end: span 2;
    background-color: #ffa94d;
  }
   .wrapper div:nth-child(2) {
     grid-column: 3;
     grid-row: 2 / 4;
   }
   .wrapper div:nth-child(5) {
     grid-column: 1 / 3;
     grid-row: 1 / 3;
  }

  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

/* fade in animation  */

#test p {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}